---
import CustomTitle from "../components/CustomTitle.astro";
import NavBar from "../components/NavBar.astro";
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout title="Home">
	<CustomTitle title="Home Page"/>
	<h3>Texto Css</h3>
</MainLayout>

<style>
h3 {
	color: blue
}
</style>
